<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
  <nav>

      <ul class="nav-list">
          <li><a class="{{contact}}" href="/contact">Contact</a></li>
          <li><a class="{{projects}}" href="/projects">Projects</a></li>
          <li><a class="{{about}}" href="/">About</a></li>
      </ul>

  </nav>
    {{{body}}}
  </body>
</html>
